<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="articles.js" defer></script>
</head>

<body>

    <div id="app">
        <header class="header center">
            <nav class="header__left">
                <a href="index.html"><img class="header__logo" src="img/logo-1.png" alt="logo"></a>
            </nav>
            <nav class="header__right">
                <a class="header__link" href="index.html">Home</a>
                <a class="header__link" href="#">Project</a>
                <a class="header__link" href="blog.html">Blog</a>
            </nav>
        </header>

        <div class="banner-article">
            <img src="img/Banner-article-page.jpg" alt="banner" class="banner-article__banner-photo">
        </div>

        <div class="article center">

            <article class="article__article-content">
                <h1 class="article__article-title">
                    Let’s Get Solution for Building
                    Construction Work
                </h1>

                <img src="img/article1.png" alt="photo">

                <div class="article__article-date">
                    <p class="article__date">26 December,2022 </p>
                    <nav class="article__article-box-breadcrumbs">
                        <a href="index.html" class="article__article-breadcrumbs">Interior / </a>
                        <a href="blog.html" class="article__article-breadcrumbs"> Home / </a>
                        <a href="blog.html" class="article__article-breadcrumbs"> Decore</a>
                    </nav>
                </div>

                <p class="article__article-text">
                    Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to
                    popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered alteration in some form, by injecthumour, or randomised words which don't look even
                    slightly believable. <br> <br>

                    Embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
                    repeat predefined chunks as necessary.
                </p>

                <img class="article__article-quotes" src="img/Quotes.png" alt="photo">

                <h1 class="article__article-title">
                    Design sprints are great
                </h1>

                <p class="article__article-text">
                    Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to
                    popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered.
                </p>

                <ol class="article__article-list">
                    <li class="article__article-li article__article-text">Contrary to popular belief.There are many
                        variations of passages of Lorem Ipsum available, but
                        the majority have suffered.</li>
                    <li class="article__article-li article__article-text">Contrary to popular belief.There are many
                        variations of passages of Lorem Ipsum available, but
                        the majority have suffered.</li>
                    <li class="article__article-li article__article-text">Contrary to popular belief.There are many
                        variations of passages of Lorem Ipsum available, but
                        the majority have suffered.</li>
                </ol>

                <img class="article__article-photo" src="img/article1_1.png" alt="photo">

                <p class="article__article-text">
                    Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to
                    popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered.
                </p>
            </article>

            <div class="article__tags">
                <h3 class="article__tags-title">Tags</h3>
                <div class="article__tags-btn">
                    <button v-for="button in buttons" @click="selectTag" class="article__tag">{{ button
                        }}</button>

                </div>

                //фильтр


                <section class="articles">
                    <div v-for="article in filteredArticles" class="article" :id="article.id">

                        <div class="blog__subcontent">
                            <div class="blog__blog-img-box">
                                <img class="blog__blog-item-img" :src="article.image" alt="blog">
                                <h3 class="blog__tag">{{article.tag}}</h3>
                            </div>
                            <p class="blog__blog-item-text">{{article.title}}</p>
                            <div class="blog__box-date">
                                <p class="blog__date">{{article.date}} </p>
                                <a href="#">
                                    <svg class="blog__link-svg" width="52" height="53" viewBox="0 0 52 53" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle class="blog__link-circle" cx="26" cy="26.267" r="26" fill="#F4F0EC" />
                                        <path d="M23.7714 32.9527L29.7143 26.267L23.7714 19.5813" stroke="#292F36"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                </section>






            </div>
        </div>

        <footer class="footer center">
            <div class="footer__footer-left">
                <a href="index.html"> <img class="footer__logo" src="img/logo-1.png" alt="logo"></a>
                <p class="footer__footer-text">It is a long established fact that a reader will be distracted
                    lookings.</p>
            </div>
            <nav class="footer__footer-middle">
                <h3 class="footer__footer-title">Pages</h3>
                <a class="footer__footer-text" href="index.html">Home</a>
                <a class="footer__footer-text" href="#">Project</a>
                <a class="footer__footer-text" href="blog.html">Blog</a>
            </nav>
            <div class="footer__footer-right">
                <h3 class="footer__footer-title">Contact</h3>
                <p class="footer__footer-text">55 East Birchwood Ave. Brooklyn, New York 11201 </p>
                <p class="footer__footer-text">contact@interno.com</p>
                <p class="footer__footer-text">(123) 456 - 7890</p>
            </div>
        </footer>
    </div>

</body>

</html>